# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/

# VSCode files
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Streamlit cache
.streamlit/

# Python environment variables
.env

# Coverage reports
.coverage
htmlcov/

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# Pyre type checker
.pyre/

# Other
*.bak
*.swp
